.exercise-log-page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;

  .exercise-log-form {
    height: 100%;
    width: 100%;

    flex-basis: 70%;
    flex-grow: 2;
    overflow: auto;
  }
}
