.exercise-log-page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;

  .exercise-log-form {
    height: 100%;
    width: calc(100% - 200px);

    flex-basis: 70%;
    flex-grow: 2;
    overflow: auto;
  }
  .previous-exercise-log-list {
    width: 200px;
    background-color: #2f2f2f;
    flex-grow: 1;
  }
}
