.video-preview-card-wrapper {
  margin: 0px 8px 40px 8px;
  height: 275px;
  width: 250px;
  .video-preview-image-container {
    position: relative;
    .time-stamp {
      background-color: black;
      border-radius: 2px;
      padding: 0px 2px;
      color: white;
      font-size: 11px;
      opacity: 80%;
      position: absolute;
      top: 85%;
      left: 85%;
    }
  }

  .video-info-container {
    display: grid;
    grid-template-columns: 48px auto;

    .avatar-icon {
      margin-top: 12px;
      margin-right: 12px;
    }

    .video-info {
      display: flex;
      flex-direction: column;
      font-family: Roboto, Arial, sans-serif;
      text-align: start;
      font-size: 14px;

      .video-title {
        font-weight: 500;
        line-height: 2rem;
        max-height: 4rem;
      }
    }
  }
}
